<header>
  <div class="container">
    <div class="logo">
      <h1>Gerenciador de Tarefas</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/"><i class="fas fa-home"></i> Início</a></li>
        <li><a href="/tasks"><i class="fas fa-tasks"></i> Tarefas</a></li>
        <li><a href="/categories"><i class="fas fa-tag"></i> Categorias</a></li>
        <li><a href="/users"><i class="fas fa-users"></i> Usuários</a></li>
      </ul>
    </nav>
  </div>
</header>

